body {
	font-family: "Droid Serif";
	color: #333333;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

div.wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 4em;
	clear: both;
	padding: 16px;
	background-color: #FAFAFA;
}

div.hide {
	display: none;
}

div.menu {
	/* display: table; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	height: 4em;
	top: 0px;
	z-index: 100;
	
	/* fallback */
	background-color: #4040A0;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4040A0), to(#424278));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #424278, #4040A0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #424278, #4040A0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #424278, #4040A0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #424278, #4040A0);

	/* CSS3 Standard syntax */
	background: linear-gradient(top, #424278, #4040A0);
}

div.menu div {
	z-index: 150;
	position: absolute;
	display: none;
	margin: 0px;
	padding: 0px;
	background: #AAAAAA;
	border: 1px solid #000000;
}

div.menu div li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

div.menu div li a {
	display: block;
	margin: 0;
	padding: 4px 10px;
	width: 100px;
	background: #AAAAAA;
	color: #333333;
}

div.menu a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: "Montserrat";
	font-size: 1.5em;
	color: #FAFAFA;
	text-shadow: -1px -1px 0.5px #333333;
	/* display: table-cell; */
	vertical-align: middle;
	width: 120px;
	/*
	margin-left: 1em;
	margin-right: 1em;
	*/
}

div.menu a:hover {
	background-color: #151568;


	/* fallback */
	background-color: #151568;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#151568), to(#1F1F4E));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #1F1F4E, #151568);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #1F1F4E, #151568);

	/* IE 10 */
	background: -ms-linear-gradient(top, #1F1F4E, #151568);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #1F1F4E, #151568);

	/* CSS3 Standard syntax */
	background: linear-gradient(top, #1F1F4E, #151568);
}

div.menu a.padding:hover {
	/* fallback */
	background-color: #4040A0;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4040A0), to(#424278));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #424278, #4040A0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #424278, #4040A0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #424278, #4040A0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #424278, #4040A0);

	/* CSS3 Standard syntax */
	background: linear-gradient(top, #424278, #4040A0);
}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
	text-align: justify;
}

a {
	color: #4040A0;
	text-decoration: none;
}

a:hover {
	color: #151568;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
	line-height: 0.75em;
	margin-bottom: 0.75em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.07em;
	margin-bottom: 1.07em;
}
